# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# macOS system files
.DS_Store

# Logs and local output
*.log
*.out
*.swp*
